<div class="w-full bg-[#222732] text-white flex flex-col">
  <div
    class="flex flex-col items-center justify-between p-14 lg:flex-row gap-5 lg:gap-0"
  >
    <div>
      <p class="text-[#ff4605] font-semibold text-[30px] leading-[27px]">
        Luxe<span class="text-white">Drive</span>
      </p>
    </div>
    <div class="lg:flex items-center space-x-4">
      <ul class="grid grid-cols-2 gap-x-8 gap-y-8 bg-[#222732] rounded-lg p-4">
        <li class="flex items-center text-[16.1px] font-normal">
          <div class="w-2 h-2 mr-2 rounded-full bg-[#ff4605]"></div>
          Home
        </li>
        <li class="flex items-center text-[16.9px] font-normal">
          <div class="w-2 h-2 mr-2 rounded-full bg-[#ff4605]"></div>
          All Cars
        </li>
        <li class="flex items-center text-[17px] font-normal">
          <div class="w-2 h-2 mr-2 rounded-full bg-[#ff4605]"></div>
          Contact Us
        </li>
        <li class="flex items-center text-[16.7px] font-normal">
          <div class="w-2 h-2 mr-2 rounded-full bg-[#ff4605]"></div>
          About Us
        </li>
        <li class="flex items-center text-[16.5px] font-normal">
          <div class="w-2 h-2 mr-2 rounded-full bg-[#ff4605]"></div>
          FAQ
        </li>
      </ul>
    </div>

    <div>
      <p class="text-[15.4px] w-[346px]">
        Award-winning, family-owned dealership of new and pre-owned vehicles
        with several locations across the city. Lowest prices and the best
        customer service guaranteed.
      </p>
    </div>
    <div class="text-center lg:text-right flex flex-col gap-5">
      <div class="text-[29px] font-black text-[#ff4605]">
        (+212) 6 42 xx xx xx
      </div>
      <div class="text-[16.5px]">support&#64;luxedrive.com</div>
      <div class="text-[15.4px]">Marrakech, Morocco</div>
    </div>
  </div>
  <div
    class="border-t border-[#3b4250] flex items-center justify-center flex-col"
  >
    <p class="text-[#ff4605] font-medium text-[15.5px] p-4">
      Copyright © 2023. <span class="text-white">All rights reserved.</span>
    </p>
  </div>
</div>
